* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #353028;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
}

header {
  background-color: white;
}

header nav ul {
  max-width: 100%;
  overflow: hidden;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  color: black;
}

header nav ul li a:hover {
  background-color: black;
  color: white;
}

.main {
  max-width: 70%;
  background-color: white;
  float: left;
}

.main .imagen {
  max-width: 100%;
}

.main .imagen img {
  max-width: 100%;
  vertical-align: top;
}

.main .post {
  padding: 40px;
}

.main .post article {
  margin-bottom: 20px;
  color: #424242;
}

.main .post article p {
  margin-bottom: 20px;
  line-height: 27px;
}

aside {
  max-width: 30%;
  background-color: #161f16;
  padding: 20px;
  color: white;
  float: left;
}

aside .widget {
  margin-bottom: 20px;
}

aside .widget .titulo {
  color: #ff8000;
  border-bottom: 1px solid #ff8000;
  margin-bottom: 20px;
}

aside .widget ul {
  list-style: none;
}

aside .widget ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 10px 0;
}

aside .widget ul li a {
  color: white;
  text-decoration: none;
}

aside .widget ul li a:hover {
  color: #8f8f8f;
}

aside .widget p {
  line-height: 27px;
}

footer {
  max-width: 700px;
  clear: both;
  background-color: black;
  color: white;
  padding: 15px 0;
  text-align: center;
}
