.container {
    display: grid;/* Con esto se activa el grid */
    /* Permite que se pueda agregar columnas */
    grid-template-columns: 100px 100px 100px;/* la posicion de cada tamaño significa la columna */
    /* Permite que se pueda agregar filas */
    grid-template-rows: 150px 300px;
    /* Pone filas */
    grid-gap: 20px;
}