body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  background-color: #4357ad;
  padding: 20px 30px;
  display: inline-block;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

/* Sudoclase para pasar el mouse por encima del elemento */
a:hover {
  background-color: #009ddc;
  padding: 25px 35px;
}

a:active {
  background-color: black;
}

a:visited {
  background-color: grey;
}

div {
  width: 500px;
}

div p:hover {
  background-color: black;
  color: white;
}

div p::first-line {
  background-color: #3a3a3a;
  color: white;
  font-size: 20px;
}

div p:nth-child(2) {
  background-color: #009dcc;
  color: white;
  padding: 10px;
}
