.container {
  display: grid;
  grid-gap: 20px;
  border: black 10px solid;
  

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 100px);
  grid-template-areas:
    "header header header"
    "content content sidebar"
    "content content sidebar"
    "footer footer footer";
}

.container .header {
  background: orange;
  grid-area: header;
}

.container .content {
  background: rgb(238, 230, 230);
  color: black;
  grid-area: content;
}

.container .sidebar {
  background: grey;
  grid-area: sidebar;
}

.container .footer {
  background: #222833;
  grid-area: footer;
}
