/* 
Algunos elementos de linea "inline"

a, span, img, b, i, small, cite, code, em, strong, br, script, button,
input, label, select, textarea.


Algunos elementos de bloque "block"

div, article, section, header, footer, aside, table, p, video, ul, ol,
h1-h6.

A estos se le pueden cambiar la altura, manejarle el padding, etc
Para cambiar de elemnto de bloque a elemento de linea, se utiliza
la propiedad de display
*/

* {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p,
div {
  background-color: rgb(127, 131, 134);
  /* Permite cambiar el tipo de elemento (linea o bloque) */
  display: inline;
}

a {
  color: #fff;
  background: black;
}
